<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>我的发布</title>

		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/login_common.css" />
		<link rel="stylesheet" href="../../static/css/consultation/con_upload_record.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../../static/css/header.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="../../static/css/footer.css"
		/>
		<script src="../../static/js/jquery.min.js"></script>
		<script
			src="../../static/js/vue.js"
			type="text/javascript"
			charset="utf-8"
		></script>

		<script
			type="text/JavaScript"
			charset="UTF-8"
			src="../../static/js/header.js"
		></script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<header-item></header-item>
			</div>

			<div class="bry_container">
				<!-- 标题及退出登录 -->
				<div class="bry_title_logout clearfix">
					<p class="fl">心理咨询师信息</p>
				</div>

				<!-- 内容区 -->
				<div class="bry_inner clearfix">
					<div class="bry_head_leftnav fl">
						<!-- 头像与名字 -->
						<div class="bry_people">
							<div class="bry_people_pic">
								<img
									src="../..//assets/img/mechanism/headicon.jpg"
								/>
								<span>心理师</span>
							</div>
							<span>sasa</span>
						</div>
						<!-- 认证与充值 -->
						<div class="bry_authentication_recharge">
							<span>待认证</span>
							<a href="con_recharge.html">会员充值</a>
						</div>
						<!-- 侧导航 -->
						<ul class="bry_sidenav">
							<li class="bry_space1">
								<a href="con_basic_data.html">基本资料</a>
							</li>
							<li class="bry_space1">
								<a href="con_auth_data.html">认证资料</a>
							</li>
							<li class="bry_space1">
								<a href="con_browse.html">我的浏览</a>
							</li>
							<li class="bry_space1">
								<a href="con_answer.html">我的答疑</a>
							</li>
							<li class="bry_space1">
								<a href="con_comment.html">我的评论</a>
							</li>
							<li class="bry_space2">
								<a href="con_forum.html">我的论坛</a>
							</li>
							<li class="bry_space2 bry_sidenav_sel">
								<a href="con_upload.html">我的发布</a>
							</li>
							<li class="bry_space2">
								<a href="con_message.html">我的消息</a>
							</li>
							<li class="bry_space2">
								<a href="con_account.html">我的账户</a>
							</li>
						</ul>
					</div>

					<div class="bry_main fr">
						<!-- 最上面的导航 -->
						<div class="bry_topnav">
							<a href="le_upload_baike.html">添加电子书</a>
							<a
								class="bry_topnav_sel"
								href="le_upload_baike_record.html"
								>查看记录</a
							>
						</div>

						<!-- 记录内容 -->
						<ul class="bry_record_content">
							<li>
								<ul class="bry_record_content_title clearfix">
									<li>
										课时名称
									</li>
									<li>
										上架时间
									</li>
									<li>
										下架时间
									</li>
									<li>
										价格
									</li>
									<li></li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
							<li>
								<ul class="bry_record_content_part clearfix">
									<li><span class="bry_add_bgpic"></span></li>
									<li class="one-txt-cut">
										<a href="">青少年性教育第六讲.mp4</a>
									</li>
									<li>
										2020-01-18
									</li>
									<li>202-01-18</li>
									<li>免费</li>
									<li>
										<span>修改</span>
										<span>删除</span>
									</li>
								</ul>
							</li>
						</ul>

						<!-- 全选和删除 -->
						<ul class="bry_all_delete clearfix">
							<li>
								<span>全选</span
								><span class="bry_add_bgpic"></span>
							</li>
							<li>删除</li>
						</ul>

						<!-- 上一页下一页 -->
						<ul class="bry_next_last clearfix">
							<li>首页</li>
							<li>上一页&gt;</li>
							<li>下一页&lt;</li>
							<li>尾页</li>
							<li><a href="">回收站</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/JavaScript" charset="UTF-8">
		var vueobj = new Vue({
			el: '#app'
		});
	</script>
</html>
