<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_encyc_info.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css" />
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/JavaScript" charset="UTF-8" src="../static/js/vue.js"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/header.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="header">
				<header-item></header-item>
			</div>

			<div class="bry_encyc_content">
				<div class="inner clearfix">
					<div class="bry_encyc_path">
						首页>>百科>>性科学史>>中国性科学研究起源
					</div>
					<div class="fl">
						<div class="bry_encyc_article">
							<div class="bry_encyc_article_title">
								中国性科学研究探源
							</div>
							<div class="bry_encyc_article_msg">
								<span>作者：彼若鱼</span>
								<span>来源：中国性科学</span>
								<span>更新日期：2019-12-30 15:43:36</span>
								<span>浏览次数：1008</span>
							</div>
							<p>
								<b>文章导读: </b>物质资料生产和人类自身生产，是人类社会得以
								存在和延续的两个必须的基本条件,缺一不可。物质
								资料生产,是通过人们的劳动实现的；而人类自身生
								产,则是通过人们的性交实现的。中国古人类的性交
								活动,与中国古人类有着同样悠久的历史。但是,中国
								古人类开始关注性交并对性交加以规范，则是生活在
								距今69万年前的“北京人”;对于性交加以研究的，则
								是生活在距今2万年以前的“山顶洞人”;而对性交感
								受体会的经验大总结，则始于炎黄时代,更确切地说是
								始于黄帝时期。
							</p>
							<div class="bry_encyc_sex_book">
								<img src="../assets/icon/bry_encyc/bry_encyc_sex_book.gif" />
							</div>
							<p>
								物质资料生产和人类自身生产，是人类社会得以
								存在和延续的两个必须的基本条件,缺一不可。物质
								资料生产,是通过人们的劳动实现的;而人类自身生
								产,则是通过人们的性交实现的。中国古人类的性交活动,与中国古人类有着同样悠久的历史。但是,中国
								古人类开始关注性交并对性交加以规范，则是生活在
								距今69万年前的“北京人”;对于性交加以研究的，则
								是生活在距今2万年以前的“山顶洞人”;而对性交感
								受体会的经验大总结，则始于炎黄时代,更确切地说是
								始于黄帝时期。
							</p>
							<p>
								总结经验，发明创造,是炎黄时代的一大特点。总
								结耕稼,创造耒耜;总结交换，日中为市;总结饲畜,教
								人养蚕;总结符号,创制文字;总结医药,遍尝百草;总
								结战争,始筑城堡等等。从而形成中国古代文明的显
								著源头，所以至今中国人都自称为炎黄子孙。
							</p>
							<p>
								在炎黄时代尤其是黄帝时期，知识也是权力的象
								征,拥有知识也是掌握权力的一个重要方面。事关人
								所必须和人口繁衍的性交行为,是社会生活中的重要
								活动之一。男人要掌握好权力，就必须把这件事做好，
								以平息女人对于一夫多妻的不满和反抗。所以，总结性活动经验,提高性生活质量，也就逐渐成为必然。
							</p>
							<p>
								玄女和素女,是两位对性科学颇有研究的女性性
								科学家，在男人全面掌握家庭和社会控制权和支配权
								的大背景下，向拥兵掌权的部落联盟大酋长黄帝轩辕
								氏传授性科学知识,就成为合情合理的。当时有了文
								字，有可能对性科学知识有所记载，如《玄女经》、《素女经》及《山海经》中的一身二首;还可能画图表达,如岩
								画中男女交合的造型，但是,更多的是口头流传和讲授
								时的性交动作示范。
							</p>
							<p>
								后来的人们，对于炎黄时代的诸多总结创新,如造
								耒耜、尝百草、定律吕、筑城堡、日中为市等等，都深信
								不疑。在性科学研究成果方面,对于容成、天老的《阴道》，也未见有谁提出异议;惟独对《玄女经》、《素女经》提出了疑问，甚至说是纯属后人伪托。其实,只有那个
								时代才可能产生《玄女经》、《素女经》那样描写性交经
								验的著作,后人则没有那样的便利条件。当然,后人的补入应另当别论。所以,研究中国古代性科学研究发
								展史,必须走出“疑古”的误区,还其一个本来面目。
							</p>
							<p>1性交是祭祀活动的组成部分</p>
							<p>
								据考古发现，祭祀始于山顶洞人。中国古人类在
								诸多祭祀中,都有比较丰富的性活动。这，从古籍记载
								中,可以找到足够的资料。
							</p>
							<p>
								(《周礼•地官司徒•媒氏》)中说:“仲春之月，令会
								男女。于是时也,奔者不禁。”(《汉书•食货志》)中说:
								“仲春之月，群居者将散”。可见“会男女”中，有“群居”
								的内容。据(《礼记•月令》)记载，仲春之月，“玄鸟至。
								至之日以太牢祠于高楳”。可见这男女群居是祭祀媒
								神时的内容之一。关于这一点,(《诗》)中一再表明。
							</p>
							<p>2性科学研究始于祭祀</p>
							<p>
								性活动和性科学研究,虽然密切相关,却不是一码
								事，中国古人类的性活动与中国古人类同时存在，而性
								科学研究则要晚于性活动上百万年。“北京人”虽然对
								性交做了第一次规范,那主要是生理原因在起作用，严
								格讲，还不能算是性科学研究。真正的性科学研究始
								于山顶山时期。
							</p>
							<p>
								由于中国古人类意识和思维的进步，生活在距今
								2万年以前的北京山项洞人，已经有了人死后的饰终
								仪式和随葬品，说明他们已经有了灵魂观念。他们认为人是有灵魂的,灵魂可以离开肉体而单独存在。在
								此基础上，他们又从自身体验和主观感受出发，认为神秘的大自然,如山川、雷电、风雨等天地万物，都是由神
								灵控制和主宰的，于是有了万物有灵的观念。中国古
								人类还没有改造自然，征服自然的能力，因而便向神灵
								祈祷,请求神灵保佑和降福;有了“灵验”之后，还要对
								神灵表示感谢，从而有了诸多祭祀活动。
							</p>
							<p>
								在万物有灵观念支配下，中国古人类对于不能理
								解的自然现象，进行了种种拟人化的联想,并赋予大自
								然以人的思想、情感和愿望。“饮食男女，人之大欲存
								焉”(《礼记•礼运》)“食色性也”(《孟子•告子下》)。人
								离不开食物和性交，神灵自然也就离不开食物和性交。
								所以在祭祀神灵时,就必须贡献牺牲——食物，还必须有神灵感兴趣的性交活动。满足了神灵的食欲和性欲
								之后,神灵才会给人们消灾降福。
							</p>
						</div>
						<div class="bry_encyc_choice clearfix">
							<div class="bry_encyc_fs fl">
								<span>字号</span>
								<span>放大A<sup>+</sup></span>
								<span><sup>缩小</sup>A<sup>-</sup></span>
							</div>
							<div class="bry_encyc_pages fr">
								<ul class="clearfix">
									<li>首页</li>
									<li>上一页</li>
									<li>&lt;</li>
									<li class="active"><button>1</button></li>
									<li><button>2</button></li>
									<li><button>3</button></li>
									<li><button>4</button></li>
									<li>…</li>
									<li>></li>
									<li>下一页</li>
									<li>尾页</li>
								</ul>
							</div>
						</div>
						<div class="bry_encyc_share">
							<div>
								分享到:
								<img src="../assets/icon/bry_encyc/bry_encyc_qq.png" />
								<span>QQ好友和群</span>
								<img src="../assets/icon/bry_encyc/bry_encyc_qqzone.png" />
								<span>QQ空间</span>
								<img src="../assets/icon/bry_encyc/bry_encyc_txblog.png" />
								<span>腾讯微博</span>
								<img src="../assets/icon/bry_encyc/bry_encyc_wechat.png" />
								<span>微信朋友</span>
							</div>
							<div class="clearfix">
								<div class="active">
									<img src="../assets/icon/bry_encyc/bry_encyc_comment.png" />评论
								</div>
								<div>
									<img src="../assets/icon/bry_encyc/bry_encyc_collection.png" />收藏
								</div>
								<div>
									<img src="../assets/icon/bry_encyc/bry_encyc_share.png" />分享
								</div>
							</div>
						</div>
					</div>
					<div class="bry_encyc_class fr">
						<ul>
							<li class="bry_encyc_fr_title">性科学史</li>
							<li>◆ 中国性科学研究探源</li>
							<li>◆ 向世界展示中华性文化</li>
							<li>◆ 现代女性性爱意识的觉醒</li>
							<li>◆ 儒家与道家性哲学观念之比较</li>
							<li>◆ 古代城市中的同性恋</li>
							<li>◆ 读《聊斋志异》看我国同性性行为</li>
							<li>◆ “娼”与“倡”的衍变</li>
							<li>◆ 中国性科学研究探源</li>
						</ul>
						<ul>
							<li class="bry_encyc_fr_title">性生物学</li>
							<li>◆ 中国性科学研究探源</li>
							<li>◆ 向世界展示中华性文化</li>
							<li>◆ 现代女性性爱意识的觉醒</li>
							<li>◆ 儒家与道家性哲学观念之比较</li>
							<li>◆ 古代城市中的同性恋</li>
							<li>◆ 读《聊斋志异》看我国同性性行为</li>
							<li>◆ “娼”与“倡”的衍变</li>
							<li>◆ 中国性科学研究探源</li>
						</ul>
						<ul>
							<li class="bry_encyc_fr_title">性心理学</li>
							<li>◆ 中国性科学研究探源</li>
							<li>◆ 向世界展示中华性文化</li>
							<li>◆ 现代女性性爱意识的觉醒</li>
							<li>◆ 儒家与道家性哲学观念之比较</li>
							<li>◆ 古代城市中的同性恋</li>
							<li>◆ 读《聊斋志异》看我国同性性行为</li>
							<li>◆ “娼”与“倡”的衍变</li>
							<li>◆ 中国性科学研究探源</li>
						</ul>
						<ul>
							<li class="bry_encyc_fr_title">性社会学</li>
							<li>◆ 中国性科学研究探源</li>
							<li>◆ 向世界展示中华性文化</li>
							<li>◆ 现代女性性爱意识的觉醒</li>
							<li>◆ 儒家与道家性哲学观念之比较</li>
							<li>◆ 古代城市中的同性恋</li>
							<li>◆ 读《聊斋志异》看我国同性性行为</li>
							<li>◆ “娼”与“倡”的衍变</li>
							<li>◆ 中国性科学研究探源</li>
						</ul>
						<ul>
							<li class="bry_encyc_fr_title">性健康学</li>
							<li>◆ 中国性科学研究探源</li>
							<li>◆ 向世界展示中华性文化</li>
							<li>◆ 现代女性性爱意识的觉醒</li>
							<li>◆ 儒家与道家性哲学观念之比较</li>
							<li>◆ 古代城市中的同性恋</li>
							<li>◆ 读《聊斋志异》看我国同性性行为</li>
							<li>◆ “娼”与“倡”的衍变</li>
							<li>◆ 中国性科学研究探源</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bry_footer">
				<div class="inner">
					<div class="bry_footer_nav">
						<ul class="clearfix">
							<li><a href="index.html">首页</a></li>
							<li><a href="bry_information.html">资讯</a></li>
							<li><a href="bry_Movies.html">视频</a></li>
							<li><a href="bry_audioFrequency.html">音频</a></li>
							<li><a href="bry_forum.html">论坛</a></li>
							<li><a href="encyclopedias.html">百科</a></li>
							<li><a href="book.html">电子书</a></li>
							<li><a href="about.html">关于我们</a></li>
						</ul>
					</div>
					<div class="bry_copy_msg clearfix">
						<div class="fl">
							<img src="../assets/icon/footer/official_account.gif" />
							<div class="tc">关注公众号</div>
						</div>
						<div class="fl">
							<img src="../assets/icon/footer/phone_code.gif" />
							<div class="tc">手机网站</div>
						</div>
						<div class="bry_copyright fl">
							<div>
								重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有
							</div>
							<div>
								渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" />渝公安备 50019002501739
							</div>
							<div>All Rights Reserved, Copyright 2019-2020</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
