<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bry_forum.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css" />
		<meta charset="utf-8">
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>
		<title>论坛</title>
	</head>
	<body>
		<div id="app">
		<div id="header">
			<header-item></header-item>
		</div>
		<!-- 主题内容 -->
		<div class="bry_main">
			<div class="bry_inner clearfix">
				<!-- 左部分 -->
				<div class="bry_mainLeft">
					<!-- 最新热帖/论坛推荐 -->
					<div class="bry_mainLeft_Up">
						<div class="bry_mainLeft_UpTitle">
							<span class="bry_mainLeft_UpTitleType1">最新热帖</span>
							<span class="bry_mainLeft_UpTitleType2">论坛推荐</span>
						</div>
						<ul class="bry_mainLeft_UpNewsList clearfix">
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="bry_forum_info.html">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="bry_forum_info.html">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_UpNewsLi">
								<div class="bry_mainLeft_UpNewsLi_top clearfix">
									<div class="bry_mainLeft_UpNewsLi_picture">
										<a href="">
											<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
										</a>
									</div>
									<div class="bry_mainLeft_UpNewsLi_topText">
										<a href="">
											<p class="one-txt-cut">【求解】为什么羞耻感会带来快感</p>
											<span class="txt-cut2">为什么适度的性侮辱会引起性唤起？羞
												耻感和性快感 是因果关系还是共变关系？</span>
											<div class="bry_mainLeft_UpNewsLi_duwn">
												<span>作者:</span>
												<span>彼若鱼网站</span>
											</div>
										</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="bry_mainLeft_UpButton">
							<button type="button">发 帖</button>
						</div>
					</div>
					<div class="bry_mainLeft_down ">
						<!-- 横条 -->
						<span></span>
						<ul class="bry_mainLeft_downList1 clearfix">
							<li class="bry_mainLeft_downLi1 bry_mainLeft_downList1Type1">
								<span></span>
								<span>专家答疑</span>
							</li>
							<li class="bry_mainLeft_downLi1 bry_mainLeft_downList1Type2">
								<span></span>
								<span>性教育</span>
							</li>
							<li class="bry_mainLeft_downLi1 bry_mainLeft_downList1Type2">
								<span></span>
								<span>性健康</span>
							</li>
						</ul>
						<!-- 具体留言 -->
						<ul class="bry_mainLeft_downList2 clearfix">
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="bry_forum_info.html">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="bry_forum_info.html">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="bry_forum_info.html">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href="">
										<span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span>
										<!-- 作者，时间 -->
										<div class="bry_mainLeft_downLi2_rightDown clearfix">
											<div class="bry_mainLeft_downLi2_rightDown_author">
												<span>作者：</span>
												<span>hrerejjhnj</span>
											</div>
											<span>2019-8-29 10:50</span>
										</div>
									</a>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href=""><span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span></a>
									<!-- 作者，时间 -->
									<div class="bry_mainLeft_downLi2_rightDown clearfix">
										<div class="bry_mainLeft_downLi2_rightDown_author">
											<span>作者：</span>
											<span>hrerejjhnj</span>
										</div>
										<span>2019-8-29 10:50</span>
									</div>
								</div>
							</li>
							<li class="bry_mainLeft_downLi2 clearfix">
								<!-- 图片 -->
								<a href="">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</a>
								<div class="bry_mainLeft_downLi2_right">
									<!-- 标题 -->
									<a href=""><span class="txt-cut1">【求解】为什么羞耻感会带来快感？</span></a>
									<!-- 作者，时间 -->
									<div class="bry_mainLeft_downLi2_rightDown clearfix">
										<div class="bry_mainLeft_downLi2_rightDown_author">
											<span>作者：</span>
											<span>hrerejjhnj</span>
										</div>
										<span>2019-8-29 10:50</span>
									</div>
								</div>
							</li>
						</ul>
						<!-- 跳页部分 -->
						<div class="bry_main_JumpPage">
							<ul class="bry_main_JumpPage_list clearfix">
								<li class="bry_main_JumpPage_listType1">首页</li>
								<li class="bry_main_JumpPage_listType1">上一页</li>
								<li class="bry_main_JumpPage_listType1">
									<</li> <li class="bry_main_JumpPage_listType3">1
								</li>
								<li class="bry_main_JumpPage_listType2">2</li>
								<li class="bry_main_JumpPage_listType2">3</li>
								<li class="bry_main_JumpPage_listType2">4</li>
								<li class="bry_main_JumpPage_listType2">5</li>
								<li class="bry_main_JumpPage_listType2">6</li>
								<li class="bry_main_JumpPage_listType2">7</li>
								<li class="bry_main_JumpPage_listType2">8</li>
								<li class="bry_main_JumpPage_listType1">...</li>
								<li class="bry_main_JumpPage_listType1">></li>
								<li class="bry_main_JumpPage_listType1">跳至
									<input type="number" value="" />
									页
								</li>
								<li class="bry_main_JumpPage_listType1">下一页</li>
								<li class="bry_main_JumpPage_listType1">尾页</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 右部分 -->
				<div class="bry_mainRight">
					<ul class="bry_mainRight_news1List">
						<li class="bry_mainRight_news1Li">
							<a href="">
								<div class="bry_mainRight_news1Li_picture">
									<img src="../assets/img/bry_mainRight_news1Li_picture1.png">
								</div>
								<span class="bry_mainRight_news1Li_title txt-cut1">印度神奇“性”寺庙外景曝光 如此开放大胆</span>
								<span class="bry_mainRight_news1Li_text txt-cut2">中国生育性别选择行为在很早的时代就已经开始了。 从文献来看，在公元前2000多年的帝尧</span>
							</a>
						</li>
						<li class="bry_mainRight_news1Li">
							<a href="">
								<div class="bry_mainRight_news1Li_picture">
									<img src="../assets/img/bry_mainRight_news1Li_picture1.png">
								</div>
								<span class="bry_mainRight_news1Li_title txt-cut1">印度神奇“性”寺庙外景曝光 如此开放大胆</span>
								<span class="bry_mainRight_news1Li_text txt-cut2">中国生育性别选择行为在很早的时代就已经开始了。 从文献来看，在公元前2000多年的帝尧</span>
							</a>
						</li>
					</ul>
					<div class="bry_mainRight_title">今日</div>
					<ul class="bry_mainRight_news2List">
						<li class="bry_mainRight_news2Li clearfix">
							<a href="">
								<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
							</a>
							<div class="bry_mainRight_news2Li_text">
								<a href="">
									<span class="txt-cut1">印度神奇“性”寺庙外景曝光 如此开放大胆</span>
									<span class="txt-cut1">中国生育性别选择行为在很早的时代就已经开始了中国生育性别选择行为在很早的时代就已经开始了</span>
									<div class="bry_mainRight_news2Li_textAuthor">
										<span>作者：</span>
										<span>Hanna</span>
									</div>
								</a>
							</div>
						</li>
						<li class="bry_mainRight_news2Li clearfix">
							<a href="">
								<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
							</a>
							<div class="bry_mainRight_news2Li_text">
								<a href="">
									<span class="txt-cut1">印度神奇“性”寺庙外景曝光 如此开放大胆</span>
									<span class="txt-cut1">中国生育性别选择行为在很早的时代就已经开始了中国生育性别选择行为在很早的时代就已经开始了</span>
									<div class="bry_mainRight_news2Li_textAuthor">
										<span>作者：</span>
										<span>Hanna</span>
									</div>
								</a>
							</div>
						</li>
					</ul>
					<ul class="bry_mainRight_usersList clearfix">
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
						<li class="bry_mainRight_usersLi"><a href="">
								<div class="bry_mainRight_usersList_pictureBox">
									<img src="../assets/img/bry_mainLeft_UpNewsLi_picture.gif">
								</div>
								<span class="bry_mainRight_usersLi_name">英子</span>
							</a></li>
					</ul>
					<div class="bry_mainRight_title">婚姻状态调查</div>
					<ul class="bry_mainRight_checkbox1">
						<li class="bry_mainRight_checkbox1Li">
							<input type="checkbox" name="" id="" value="" />
							<span>沟通不畅</span>
						</li>
						<li class="bry_mainRight_checkbox1Li">
							<input type="checkbox" name="" id="" value="" />
							<span>无性生活</span>
						</li>
						<li class="bry_mainRight_checkbox1Li">
							<input type="checkbox" name="" id="" value="" />
							<span>交通支出</span>
						</li>
						<li class="bry_mainRight_checkbox1Li">
							<input type="checkbox" name="" id="" value="" />
							<span>难耐孤独</span>
						</li>
						<li class="bry_mainRight_checkbox1Li">
							<input type="checkbox" name="" id="" value="" />
							<span>其他</span>
						</li>
						<li class="bry_mainRight_checkbox1Li">
							<button type="button">投 票</button>
						</li>
					</ul>
					<div class="bry_mainRight_title">VS 你认为婚姻能长久吗？</div>
					<!-- 投票 -->
					<div class="bry_mainRight_choose">
						<span class="bry_mainRight_chooseSpan1 txt-cut2">生活存在的现实问题1、无法排遣的孤
							独感。即使网速再快，像素再高，电话费再便宜</span>
						<div class="bry_mainRight_chooseChart clearfix">
							<div class="">2</div>
							<span>VS</span>
							<div class="">1</div>
						</div>
						<span>正方: 能，一直保持的新鲜感，婚姻永不变质，新一辈
							人活出新一辈人的方法</span>
						<span>反方: 不能，结婚后还要忍受孤独，太痛苦，让对方无</span>
					</div>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif">
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif">
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png">渝公安备 50019002501739 </div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
