<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_forum_info.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
		<div id="header">
			<header-item></header-item>
		</div>
		<div class="bry_forum_content">
			<div class="inner">
				<div class="bry_forum_path">首页  >>  论坛 </div>
				<div class="bry_forum_posts">
					<button>发 贴</button>
					<div class="fr">
						<span>〈 返回列表</span>
						<img src="../assets/icon/bry_forum_info/bry_forum_print.png" >
						<img src="../assets/icon/bry_forum_info/bry_forum_prev.png" >
						<img src="../assets/icon/bry_forum_info/bry_forum_next.png" > 
					</div>
				</div>
				<div class="bry_forum_details clearfix">
					<div class="fl">
						<img src="../assets/img/bry_forum_info/bry_forum_info_headpic.gif" >
						<div>Think You</div>
						<span>观看: 389</span>
						<span>回复: 6</span>
					</div>
					<div class="fr">
						<div class="bry_forum_title clearfix">
							<div class="fl">发表于 2019-12-30  11:55:30</div>
							<div class="fr">
								<span>楼主</span>
								<span>电梯直达</span>
								<input type="text" />
								<img src="../assets/icon/bry_forum_info/bry_forum_to.png" >
							</div>
						</div>
						<div class="bry_forum_postcont">
							<p>偶然间看见一则毁三观的消息。</p>
							<p>本着认真负责的敬业态度，决定要给大家扒一扒这个大瓜。</p>
							<p>一段婚礼现场的视频，视频前半段还好，新郎新娘携手入场，到了后半段画风开始走偏。</p>
							<p>当新人走上舞台，司仪准备播放二人甜蜜片段的时候，大荧幕上突然播放了一段男女在床上缠绵的不雅画面。</p>
							<p>视频中的女主正是婚礼现场的新娘，但男主却不是现场的新郎！</p>
							<p>视频一播出，现场的宾客开始大呼，新郎新娘反而一点也不惊讶，动手打了起来。</p>
							<p>按照二人的反应来看，这视频不像是恶作剧，更像是新郎有意安排的。</p>
							<p>也就是说新郎在自己的婚礼上放了一段自己被绿的视频！？</p>
							<p>真狠，杀敌三百，自毁一千啊！</p>
							<p>视频流出后，有网友爆料称，视频中的男主是新郎的姐夫！</p>
							<img src="../assets/img/bry_forum_info/bry_forum_info_knockout.gif" >
							<p>也就是说新郎在自己的婚礼上放了一段自己被绿的视频！？</p>
							<p>真狠，杀敌三百，自毁一千啊！</p>
							<p>视频流出后，有网友爆料称，视频中的男主是新郎的姐夫！</p>
							<div class="bry_forum_login clearfix">
								<div class="bry_forum_tips">发贴、评论、回复需登录，没有帐号？注册/登录</div>
								<div class="fl"><img src="../assets/icon/bry_forum_info/bry_forum_qq.png" >QQ注册</div>
								<div class="fr"><img src="../assets/icon/bry_forum_info/bry_forum_mircomsg.png" >微信注册</div>
							</div>
							<div class="bry_encyc_share clearfix">
								<div>分享到:
									<img src="../assets/icon/bry_encyc/bry_encyc_qq.png" >
									<span>QQ好友和群</span>
									<img src="../assets/icon/bry_encyc/bry_encyc_qqzone.png" >
									<span>QQ空间</span>
									<img src="../assets/icon/bry_encyc/bry_encyc_txblog.png" >
									<span>腾讯微博</span>
									<img src="../assets/icon/bry_encyc/bry_encyc_wechat.png" >
									<span>微信朋友</span>
								</div>
								<div class="clearfix">
									<div class="active"><img src="../assets/icon/bry_encyc/bry_encyc_comment.png" >回复</div>
									<div><img src="../assets/icon/bry_encyc/bry_encyc_collection.png" >收藏</div>
									<div><img src="../assets/icon/bry_encyc/bry_encyc_share.png" >分享</div>
									<div><img src="../assets/icon/bry_forum_info/bry_forum_bear.png" >支持</div>
									<div><img src="../assets/icon/bry_forum_info/bry_forum_oppose.png" >反对</div>
								</div>
								<span class="fr">举报</span>
							</div>
						</div>
					</div>
				</div>
				<div class="bry_forum_details clearfix">
					<div class="fl">
						<img src="../assets/img/bry_forum_info/bry_forum_info_headpic.gif" >
						<div>耶夫abc</div>
						<span>观看: 389</span>
						<span>回复: 6</span>
					</div>
					<div class="fr">
						<div class="bry_forum_title clearfix">
							<div class="fl">发表于 2019-12-30  11:55:30</div>
							<div class="fr">
								<span>沙发</span>
							</div>
						</div>
						<div class="bry_forum_postcont">
							<p>视频流出后，有网友爆料称，视频中的男主是新郎的姐夫！视频流出后，有网友爆料称，视频中的男主是新郎的姐夫！</p>
							<div class="bry_encyc_share clearfix">
								<div class="clearfix">
									<div class="active"><img src="../assets/icon/bry_encyc/bry_encyc_comment.png" >回复</div>
									<div><img src="../assets/icon/bry_forum_info/bry_forum_bear.png" >支持</div>
									<div><img src="../assets/icon/bry_forum_info/bry_forum_oppose.png" >反对</div>
								</div>
								<span class="fr">举报</span>
							</div>
						</div>
					</div>
				</div>
				<div class="bry_forum_posts">
					<button>发 贴</button>
					<div class="fr" style="margin-top: 22px;">
						<span>〈 返回列表</span>
					</div>
				</div>
				
				<div class="bry_forum_reply clearfix">
					<div class="fl">
						<img src="../assets/img/bry_forum_info/bry_forum_info_headpic.gif" >
					</div>
					<div class="fr">
						  
						
						<div class="bry_forum_senior">
							<img src="../assets/icon/bry_forum_info/bry_forum_chiso.png" >
							<div class="fr">高级模式</div>
						</div>
						<div class="bry_forum_area">
							<textarea></textarea>
							<div class="bry_forum_login clearfix">
								<div class="bry_forum_tips">发贴、评论、回复需登录，没有帐号？注册/登录</div>
								<div class="fl"><img src="../assets/icon/bry_forum_info/bry_forum_qq.png" >QQ注册</div>
								<div class="fr"><img src="../assets/icon/bry_forum_info/bry_forum_mircomsg.png" >微信注册</div>
							</div>
						</div>
						<button>发贴回复</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif" >
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif" >
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
