<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_book_info.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
		<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
		<div id="header">
			<header-item></header-item>
		</div>
		
		<div class="bry_book_content">
			<div class="inner clearfix">
				<div class="bry_book_path">首页  >>  电子书  >>  儿童性教育</div>
				<div class="fl">
					<div class="bry_book_imgs">
						<img src="../assets/img/bry_book_info/bry_book_info_ebook.gif" >
					</div>
					<div class="bry_book_choice clearfix">
						<div class="bry_book_fs fl">
							<span>字号</span>
							<span>放大A<sup>+</sup></span>
							<span><sup>缩小</sup>A<sup>-</sup></span>
						</div>
						<div class="bry_book_pages fr">
							<ul class="clearfix">
								<li>首页</li>
								<li>上一页</li>
								<li>&lt;</li>
								<li class="active"><button>1</button></li>
								<li><button>2</button></li>
								<li><button>3</button></li>
								<li><button>4</button></li>
								<li>…</li>
								<li>></li>
								<li>下一页</li>
								<li>尾页</li>
							</ul>
						</div>
						
					</div>
					<div class="bry_book_share">
						<div class="clearfix">
							<div class="active"><img src="../assets/icon/bry_encyc/bry_encyc_comment.png" >评论</div>
							<div><img src="../assets/icon/bry_encyc/bry_encyc_collection.png" >收藏</div>
							<div><img src="../assets/icon/bry_encyc/bry_encyc_share.png" >分享</div>
						</div>
						<div>分享到:
							<img src="../assets/icon/bry_encyc/bry_encyc_qq.png" >
							<span>QQ好友和群</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_qqzone.png" >
							<span>QQ空间</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_txblog.png" >
							<span>腾讯微博</span>
							<img src="../assets/icon/bry_encyc/bry_encyc_wechat.png" >
							<span>微信朋友</span>
						</div>
					</div>
				</div>
				<div class="bry_book_class fr">
					<ul>
						<li class="bry_book_fr_title">最新上传</li>
						<li>◆ 中国性科学研究探源<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 向世界展示中华性文化<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 现代女性性爱意识的觉醒<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 儒家与道家性哲学观念之比较<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 古代城市中的同性恋 <div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 读《聊斋志异》看我国同性性行为<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ “娼”与“倡”的衍变<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
						<li>◆ 中国性科学研究探源<div class="fr"><img src="../assets/icon/bry_encyc/bry_encyc_see.png" >182</div></li>
					</ul>
					<ul>
						<li class="bry_book_fr_title">性生物学</li>
						<li>◆ 中国性科学研究探源</li>
						<li>◆ 向世界展示中华性文化</li>
						<li>◆ 现代女性性爱意识的觉醒</li>
						<li>◆ 儒家与道家性哲学观念之比较</li>
						<li>◆ 古代城市中的同性恋 </li>
						<li>◆ 读《聊斋志异》看我国同性性行为</li>
						<li>◆ “娼”与“倡”的衍变</li>
						<li>◆ 中国性科学研究探源</li>
					</ul>
					<ul>
						<li class="bry_book_fr_title">性心理学</li>
						<li>◆ 中国性科学研究探源</li>
						<li>◆ 向世界展示中华性文化</li>
						<li>◆ 现代女性性爱意识的觉醒</li>
						<li>◆ 儒家与道家性哲学观念之比较</li>
						<li>◆ 古代城市中的同性恋 </li>
						<li>◆ 读《聊斋志异》看我国同性性行为</li>
						<li>◆ “娼”与“倡”的衍变</li>
						<li>◆ 中国性科学研究探源</li>
					</ul>
					<ul>
						<li class="bry_book_fr_title">性社会学</li>
						<li>◆ 中国性科学研究探源</li>
						<li>◆ 向世界展示中华性文化</li>
						<li>◆ 现代女性性爱意识的觉醒</li>
						<li>◆ 儒家与道家性哲学观念之比较</li>
						<li>◆ 古代城市中的同性恋 </li>
						<li>◆ 读《聊斋志异》看我国同性性行为</li>
						<li>◆ “娼”与“倡”的衍变</li>
						<li>◆ 中国性科学研究探源</li>
					</ul>
					<ul>
						<li class="bry_book_fr_title">性健康学</li>
						<li>◆ 中国性科学研究探源</li>
						<li>◆ 向世界展示中华性文化</li>
						<li>◆ 现代女性性爱意识的觉醒</li>
						<li>◆ 儒家与道家性哲学观念之比较</li>
						<li>◆ 古代城市中的同性恋 </li>
						<li>◆ 读《聊斋志异》看我国同性性行为</li>
						<li>◆ “娼”与“倡”的衍变</li>
						<li>◆ 中国性科学研究探源</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif" >
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif" >
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
