<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/bry_video_info.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/bry_audio_info.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css">
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css">
		<link rel="stylesheet" type="text/css" href="../static/css/common.css">
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/vue.js"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/header.js"></script>
	</head>
	<body>
		<div id="app">
		<div id="header">
			<header-item></header-item>
		</div>
		<div class="bry_video_content">
			<div class="inner">
				<div class="bry_video_list clearfix">
					<div class="fl">
						<div class="bry_video_play"></div>
						<div class="bry_video_antho">
							<button>1</button>
							<button>2</button>
							<button>3</button>
							<button></button>
							<button></button>
							<button></button>
							<button></button>
						</div>
						<div class="bry_video_drama_name">印度迷你剧《父与子的性教尬聊》 全5集 - IMDB高评分性教育短片</div>
						<div class="bry_video_lable">
							<span>播放量 1088</span>
							<span>内容介绍</span>
							<button>青少年</button>
							<button>儿童</button>
							<button>性教育</button>
						</div>
						<div class="bry_video_intro">
							简介：
							一个好奇的7岁小男孩帕普，从抛出“什么是自慰”一问开始，不停地提问爸爸阿南德性知识方面的问题。虽然爸爸最初很尴尬，但他尽其所能地用各种简单的生活事例、生动的童话故事解答着儿子的这类困惑，最终带来了很多乐趣。然而他自己的父亲却是一个非常传
							统、保守的人，一直在质疑他的这些行为，还不时地冒出来分散他的注意力，阻止他与儿子进行“尬聊”。他那怀孕的妻子与和蔼的母亲也在这场疯狂的冲突之间徘徊，并帮助“父与子”找到了平衡。
						</div>
					</div>
					<div class="fr bry_video_recomlist">
						<div class="bry_video_name">《父与子的性教尬聊》</div>
						<div class="bry_video_total">全5集</div>
						<ul>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
						</ul>
						<div class="bry_video_hotplay">精彩热播</div>
						<ul>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
							<li>
								<img class="fl" src="../assets/img/bry_video_info/bry_video_cover.gif">
								<div>
									<div class="bry_video_choice_name">《父与子的性教尬聊》</div>
									<div class="bry_video_choice_total">全5集</div>
									<div class="bry_video_lable">
										<span>播放量 1088</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="bry_video_recom">
					<div>猜你喜欢</div>
					<div class="bry_video_swiper1">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><a href="#"><img src="../assets/img/bry_video_info/bry_video_banner1.gif"></a></div>
								<div class="swiper-slide"><a href="#"><img src="../assets/img/bry_video_info/bry_video_banner2.gif"></a></div>
								<div class="swiper-slide"><a href="#"><img src="../assets/img/bry_video_info/bry_video_banner3.gif"></a></div>
								<div class="swiper-slide"><a href="#"><img src="../assets/img/bry_video_info/bry_video_banner4.gif"></a></div>
								<div class="swiper-slide"><a href="#"><img src="../assets/img/bry_video_info/bry_video_banner5.gif"></a></div>
							</div>
						</div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
				<!-- 评论区 -->
				<div class="bry_video_comment">
					<div class="bry_video_comment_title">
						评论<sub>(108)</sub>
					</div>
					<div class="bry_video_text">
						<textarea placeholder="发表评论"></textarea>
						<div class="bry_video_text_posts clearfix">
							<span>表情</span>
							<span>图片</span>
							<button class="fr">发布</button>
						</div>
					</div>
				</div>
				<!-- 精彩评论区 -->
				<div class="bry_video_marve">
					<div class="bry_video_marve_title">
						精彩评论<sub>(108)</sub>
					</div>
					<ul>
						<li class="bry_video_marveitem clearfix">
							<img class="fl" src="../assets/img/bry_video_info/bry_video_headpic.gif">
							<div class="fl">
								<div class="bry_video_marve_name">
									<span>Hrerejjhnj</span>
									<span>2019-8-29</span>
								</div>
								<div class="bry_video_marve_comme">
									<span>太好的性教育片了，以前真的不知道也无法回答孩子的问题，看了这，受益匪浅</span>
									<div class="fr">
										<span>评论</span>
										<span>点赞</span>
									</div>
								</div>
								<div class="bry_video_marvereply">
									<div>hrerejjhnj 哈哈，看来你已长大成人了</div>
									<div class="bry_video_marvereply_time">
										<span>0-08</span>
										<div class="fr">
											<span>评论</span>
											<span>点赞</span>
										</div>
									</div>
								</div>
								<div class="bry_video_marvereply">
									<div>hrerejjhnj 哈哈，看来你已长大成人了</div>
									<div class="bry_video_marvereply_time">
										<span>0-08</span>
										<div class="fr">
											<span>评论</span>
											<span>点赞</span>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="bry_video_marveitem clearfix">
							<img class="fl" src="../assets/img/bry_video_info/bry_video_headpic.gif">
							<div class="fl">
								<div class="bry_video_marve_name">
									<span>Hrerejjhnj</span>
									<span>2019-8-29</span>
								</div>
								<div class="bry_video_marve_comme">
									<span>太好的性教育片了，以前真的不知道也无法回答孩子的问题，看了这，受益匪浅</span>
									<div class="fr">
										<span>评论</span>
										<span>点赞</span>
									</div>
								</div>
							</div>
						</li>
						<li class="bry_video_marveitem clearfix">
							<img class="fl" src="../assets/img/bry_video_info/bry_video_headpic.gif">
							<div class="fl">
								<div class="bry_video_marve_name">
									<span>Hrerejjhnj</span>
									<span>2019-8-29</span>
								</div>
								<div class="bry_video_marve_comme">
									<span>太好的性教育片了，以前真的不知道也无法回答孩子的问题，看了这，受益匪浅</span>
									<div class="fr">
										<span>评论</span>
										<span>点赞</span>
									</div>
								</div>
							</div>
						</li>
						<li class="bry_video_marveitem clearfix">
							<img class="fl" src="../assets/img/bry_video_info/bry_video_headpic.gif">
							<div class="fl">
								<div class="bry_video_marve_name">
									<span>Hrerejjhnj</span>
									<span>2019-8-29</span>
								</div>
								<div class="bry_video_marve_comme">
									<span>太好的性教育片了，以前真的不知道也无法回答孩子的问题，看了这，受益匪浅</span>
									<div class="fr">
										<span>评论</span>
										<span>点赞</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="bry_video_mero">查看更多<img src="../assets/icon/bry_video_info/bry_video_morelower.png"></div>
				</div>
			</div>
		</div>
		<div class="bry_footer">
			<div class="inner">
				<div class="bry_footer_nav">
					<ul class="clearfix">
						<li><a href="index.html">首页</a></li>
						<li><a href="bry_information.html">资讯</a></li>
						<li><a href="bry_Movies.html">视频</a></li>
						<li><a href="bry_audioFrequency.html">音频</a></li>
						<li><a href="bry_forum.html">论坛</a></li>
						<li><a href="encyclopedias.html">百科</a></li>
						<li><a href="book.html">电子书</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
				</div>
				<div class="bry_copy_msg clearfix">
					<div class="fl">
						<img src="../assets/icon/footer/official_account.gif">
						<div class="tc">关注公众号</div>
					</div>
					<div class="fl">
						<img src="../assets/icon/footer/phone_code.gif">
						<div class="tc">手机网站</div>
					</div>
					<div class="bry_copyright fl">
						<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
						<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png">渝公安备 50019002501739 </div>
						<div>All Rights Reserved, Copyright 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/swiper.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {
				
			},
			mounted() {
				let _that = this;
				_that.getswiper();
			},
			methods:{
				getswiper(){
					var swiper1 = new Swiper('.bry_video_swiper1 .swiper-container', {
						loop: true,
						autoplay: true,
						speed: 2000,
						slidesPerView: 5,
						// spaceBetween: 0,
						navigation: {
							nextEl: '.swiper-button-next',
							prevEl: '.swiper-button-prev',
						},
					})
				}
			}
		});
	</script>
</html>
