<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/login_reg_main.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/footer.css"/>
		<script src="../static/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/vue.js"></script>
		<script type="text/JavaScript" charset="UTF-8" src="../static/js/header.js"></script>
	</head>
	<body>
		<div id="app">
			
		<!-- 头部 -->
		<div id="header">
			<header-item></header-item>
		</div>
		<!-- 内容区 -->
		<div class="bry_login_main inner">
			<div class="bry_login_top">
				<div class="bry_login_box">
					<div class="bry_box_tit">
						用户登录
					</div>
					<div class="bry_box_con">
						<div class="bry_box_input">
							<div class="bry_user"><input type="text" placeholder="邮箱 手机号"></div>
							<div class="bry_password"><input type="password" placeholder="密码"></div>
						</div>
						<div class="bry_box_forget clearfix">
							<span class="fl"><a href="">记住账号</a></span>
							<span class="fr"><a href="">找回账号或密码</a></span>
						</div>
						<!-- 第三方登录 -->
						<div class="bry_box_thirdpart clearfix">
							<div class="bry_box_QQ fl">
								<a href="#">
									<figure>
										<img src="../assets/icon/qq.png">
										<figcaption>QQ登录</figcaption>
									</figure>
								</a>
							</div>
							<div class="bry_box_Weixin fr">
								<a href="#">
									<figure>
										<img src="../assets/icon/weixin.png">
										<figcaption>微信登录</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<!-- select -->
						<div class="bry_box_select">
							<input type="checkbox" name="" id="" value="" />
							勾选代表你同意<a href="#">《注册声明》</a><a href="#">《版权声明》</a><a href="#">《隐私声明 》</a>
						</div>
						<!-- 登录按钮 -->
						<div class="bry_login_btn">
							<button type="button">登录</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 用户注册 -->
			<div class="bry_user_register inner">
				<div class="bry_user_register_tit">
					用户注册
				</div>
				<ul class="bry_user_register_con">
					<li><a href="person_register.html">
							<img src="../assets/icon/pic3.png">
							<span>个人</span>
							<p>给个人提供评论、论坛交流、咨询讲师、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
					<li><a href="student_register.html">
							<img src="../assets/icon/pic6.png">
							<span>学生</span>
							<p>给学生提供学习、评论、论坛交流、咨询讲师、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
					<li><a href="teacher_register.html">
							<img src="../assets/icon/pic5.png">
							<span>教师</span>
							<p>给老师提供上传音/视频课程和专业著作、<br>
								学生考评统计、评论、论坛交流、咨询、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
					<li><a href="doctor_register.html">
							<img src="../assets/icon/pic4.png">
							<span>医生</span>
							<p>给医生提供上传音/视频和专业著作及学术成果、<br>
								评论、论坛交流、咨询、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
					<li><a href="mind_register.html">
							<img src="../assets/icon/pic8.png">
							<span>心理咨询师</span>
							<p>给心理咨询师提供上传音/视频和专业著作、<br>
								评论、论坛交流、咨询、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
					<li><a href="industry_register.html">
							<img src="../assets/icon/pic7.png">
							<span>行业机构</span>
							<p>给行业机构提供上传音/视频和专业著作及研究成果、<br>
								评论、论坛交流、咨询、<br>
								提问、解答疑问、回复信息等权益。</p>
						</a></li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="bry_footer">
				<div class="inner">
					<div class="bry_footer_nav">
						<ul class="clearfix">
							<li><a href="index.html">首页</a></li>
							<li><a href="bry_information.html">资讯</a></li>
							<li><a href="bry_Movies.html">视频</a></li>
							<li><a href="bry_audioFrequency.html">音频</a></li>
							<li><a href="bry_forum.html">论坛</a></li>
							<li><a href="encyclopedias.html">百科</a></li>
							<li><a href="book.html">电子书</a></li>
							<li><a href="about.html">关于我们</a></li>
						</ul>
					</div>
					<div class="bry_copy_msg clearfix">
						<div class="fl">
							<img src="../assets/icon/footer/official_account.gif" >
							<div class="tc">关注公众号</div>
						</div>
						<div class="fl">
							<img src="../assets/icon/footer/phone_code.gif" >
							<div class="tc">手机网站</div>
						</div>
						<div class="bry_copyright fl">
							<div>重庆思无邪网络科技有限公司 &nbsp;&nbsp;版权所有</div>
							<div>渝ICP备005665656号<img src="../assets/icon/footer/keep_on_record.png" >渝公安备 50019002501739	</div>
							<div>All Rights Reserved, Copyright 2019-2020</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var vueobj = new Vue({
			el: "#app",
			created() {},
		});
	</script>
</html>
